@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron>
        <h1 class="display-4">Welcome to your Safe Journey</h1>
        <p>Here you can find information about your travel destinations, and how to keep safe from local diseases.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="display-1">Lore Ipsum</h2>
            <h2 class="display-2">Lare Ipsulum</h2>
            <h2 class="display-3">Lero Upsim</h2>
        </div>
        <div class="col-md-4">
            <h2 class="display-1">Ipsum Lore</h2>
            <h2 class="display-2">Lore Y</h2>
            <h2 class="display-3">LORE IPSUM</h2>
        </div>
        <div class="col-md-4">
            <h2 class="display-1">Muspi Erol</h2>
            <h2 class="display-2">Erol Muspi</h2>
            <h2 class="display-3">Por que não bla bla bla?</h2>
        </div>
    </div>
    
</div>
