@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Safety Tourism belong to the group SkillCandy™</p>
<p> all information providade using this site will <b>not be used</b> for any other purpose beside Data collection.</p>
