@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is what it is. And no more than what it isn't. If it is then it isn't it isn't. And if it isn't it is it is.</p>
</div>
